* {
    margin: 0;
    padding: 0;
}

.loader {
    margin: 0 auto;
    position: relative;
    height:50%;
    width:50%;
}

.loader-main {
    margin: 30% auto 0;
    width:172px;
    height:128px;
}

.loader-square {
    position:relative
}

.loader-square:nth-child(1) {
    margin-left:0px
}

.loader-square:nth-child(2) {
    margin-left:44px
}

.loader-square:nth-child(3) {
    margin-left:88px
}

.loader-square:nth-child(4) {
    margin-left:132px
}

.loader-square span {
    position:absolute;
    top:0;
    left:20px;
    height:36px;
    width:36px;
    border-radius:2px;
    background-color:#3FBAC2;
}

.loader-square span:nth-child(1) {
    top: 0;
}

.loader-square span:nth-child(2) {
    top:44px
}

.loader-square span:nth-child(3) {
    top:88px
}

.loader-square:nth-child(1) span {
    animation:animsquare1 2s infinite ease-in;
}

.loader-square:nth-child(2) span {
    animation:animsquare2 2s infinite ease-in;
}

.loader-square:nth-child(3) span {
    animation:animsquare3 2s infinite ease-in;
}

.loader-square:nth-child(4) span {
    animation:animsquare4 2s infinite ease-in;
}

.loader-square span:nth-child(1) {
    animation-delay:0.0s;
}

.loader-square span:nth-child(2) {
    animation-delay: 0.15s;
}
.loader-square span:nth-child(3) {
    animation-delay:0.30s;
}

@keyframes animsquare1 {
    0%, 5%, 95%, 100% {
        transform:translate(0px,0px) rotate(0deg);
    }
    30%, 70% {
        transform:translate(-40px,0px) rotate(-90deg);
    }
}

@keyframes animsquare2 {
    0%, 10%, 90%, 100% {
        transform:translate(0px,0px) rotate(0deg);
    }
    35%, 65% {
        transform:translate(-40px,0px) rotate(-90deg);
    }
}

@keyframes animsquare3 {
    0%, 15%, 85%, 100% {
        transform:translate(0px,0px) rotate(0deg);
    }
    40%, 60% {
        transform:translate(-40px,0px) rotate(-90deg);
    }
}

@keyframes animsquare4 {
    0%,20%,80%,100% {
        transform:translate(0px,0px) rotate(0deg);
    }
    45%,55% {
        transform:translate(-40px,0px) rotate(-90deg);
    }
}

.loaded-hiding .loader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .loader {
    display: none;
}

html {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 16px;
}

body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img {
    display: block;
    max-width: 100%;
}

.info-div {
    width: 500px;
    max-width: 500px;
}

.block-info {
    margin-top: 100px;
}

.login-pre {
    color: #3FBAC2;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.email-pre {
    color: #3FBAC2;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.login {
    color: #4D606E;
    font-size: 30px;
    padding: 5px 10px;
    display: inline-block;
    min-width: 100px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 5px 2px darkgray;
}

.email {
    color: #4D606E;
    font-size: 30px;
    padding: 5px 10px;
    display: inline-block;
    min-width: 100px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 5px 2px darkgray;
}

.game {
    position: relative;
    margin-top: 100px;
    height: 500px;
    width: 500px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 5px 2px darkgray;
}

.main-block {
    display: flex;
    justify-content: space-around;
}

.repeate-game {
    opacity: 0;
    transition: opacity 0.2s linear;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.result {
    width: 100px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    box-shadow: 0px 0px 5px 2px gray;
}

.win-orange {
    color: #e09a31;
}

.win-blue {
    color: #17828a;
}

.draw {
    color: #00B8A9;
}

.restart-game {
    font-size: 20px;
    width: 150px;
    padding: 10px 15px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.restart-game.win-blue {
    border: 2px solid #17828a;
    color: #17828a;
}

.restart-game.draw {
    border: 2px solid #00B8A9;
    color: #00B8A9;
}

.restart-game.win-orange {
    border: 2px solid #e09a31;
    color: #e09a31;
}

.restart-game.draw:hover {
    background-color: #00B8A9;
    color: #F5F5F5;
}

.restart-game.win-blue:hover {
    background-color: #17828a;
    color: #F5F5F5;
}

.restart-game.win-orange:hover {
    background-color: #e09a31;
    color: #F5F5F5;
}

.game-table {
    z-index: 1;
    position: absolute;
    border-collapse: collapse;
    transition: opacity 0.2s linear;
    width: 100%;
    height: 100%;
}

.game-table td{
    border: 1px solid #4D606E;
    height: 30%;
    width: 30%;
}

.game-table td:not(.active-cell):hover {
    /*background-color: #fa8f2a;*/
    background-color: #3FBAC2;
    opacity: 0.2;
}

.game-table.orange td:not(.active-cell):hover {
    background-color: #fa8f2a;
    opacity: 0.2;
}

td.orange {
    background-color: #fa8f2a;
}

td.blue {
    background-color: #3FBAC2;
}