* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 16px;
}

body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img {
    display: block;
    max-width: 100%;
}

.info-div {
    width: 500px;
    max-width: 500px;
}

.block-info {
    margin-top: 100px;
}

.login-pre {
    color: #3FBAC2;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.email-pre {
    color: #3FBAC2;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.login {
    color: #4D606E;
    font-size: 30px;
    padding: 5px 10px;
    display: inline-block;
    min-width: 100px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 5px 2px darkgray;
}

.email {
    color: #4D606E;
    font-size: 30px;
    padding: 5px 10px;
    display: inline-block;
    min-width: 100px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 5px 2px darkgray;
}

.game {
    position: relative;
    margin-top: 100px;
    height: 500px;
    width: 500px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 5px 2px darkgray;
}

.main-block {
    display: flex;
    justify-content: space-around;
}

.repeate-game {
    opacity: 0;
    transition: opacity 0.2s linear;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.result {
    width: 100px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    box-shadow: 0px 0px 5px 2px gray;
}

.win-orange {
    color: #e09a31;
}

.win-blue {
    color: #17828a;
}

.draw {
    color: #00B8A9;
}

.restart-game {
    font-size: 20px;
    width: 150px;
    padding: 10px 15px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.restart-game.win-blue {
    border: 2px solid #17828a;
    color: #17828a;
}

.restart-game.draw {
    border: 2px solid #00B8A9;
    color: #00B8A9;
}

.restart-game.win-orange {
    border: 2px solid #e09a31;
    color: #e09a31;
}

.restart-game.draw:hover {
    background-color: #00B8A9;
    color: #F5F5F5;
}

.restart-game.win-blue:hover {
    background-color: #17828a;
    color: #F5F5F5;
}

.restart-game.win-orange:hover {
    background-color: #e09a31;
    color: #F5F5F5;
}

.game-table {
    z-index: 1;
    position: absolute;
    border-collapse: collapse;
    transition: opacity 0.2s linear;
    width: 100%;
    height: 100%;
}

.game-table td{
    border: 1px solid #4D606E;
    height: 30%;
    width: 30%;
}

.game-table td:not(.active-cell):hover {
    /*background-color: #fa8f2a;*/
    background-color: #3FBAC2;
    opacity: 0.2;
}

.game-table.orange td:not(.active-cell):hover {
    background-color: #fa8f2a;
    opacity: 0.2;
}