* {
	margin: 0;
	padding: 0; 
}

/*https://img2.goodfon.ru/original/2880x1800/0/b7/volny-chernyy-belyy-nastroenie.jpg*/

body {
	background-image: url("../images/background.jpg");
	background-position: center;
	background-size: cover;	
	height: 80vh;
}

header {
	font-family: 'Noto Sans HK', sans-serif;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	font-size: 50px;
	color: rgba(169, 169, 169, 0.2);
}

.block {
	width: 90vw;
	height: 400px;
	perspective: 600px;
	margin: 80px auto;
	transform-style: flat;
	text-align: center;
	display: flex;
}

.second-block {
	height: 220px;
	width: 220px;
	margin: 0% auto 0;
	border-radius: 8px;
	transform-style: flat;
	transform: rotateX(60deg) translate(0,-25%);
	transition: transform 0.8s ease-out, height 0.4s ease-out, box-shadow 0.7s ease-out, filter 0.8s ease-out;
}

.second-block.first {
	background-image: url("../images/Resume.png");
	background-size: cover;
	box-shadow: 8px 14px 12px 5px #C0C0C0;
	background-position: center;
}

.second-block.second {
	background-image: url("../images/hobby.jpg");
	background-size: cover;
	box-shadow: 2px 14px 12px 5px #C0C0C0;
	background-position: center;
}

.second-block.third {
	background-image: url("../images/Biography.jpg");
	box-shadow: -2px 14px 12px 5px #C0C0C0;
	background-size: cover;
	background-position: center;
}

.second-block.fourth {
	background-image: url("../images/tasks.jpg");
	box-shadow: -8px 14px 12px 5px #C0C0C0;
	background-size: cover;
	background-position: center;
}

/*.second-block.first:hover {
	transform: rotateX(0deg) translate(0,25%);
	box-shadow: 0px 4px 12px 4px #C0C0C0; 
}

.second-block.second:hover {
	transform: rotateX(0deg) translate(0,25%);
	box-shadow: 0px 4px 12px 4px #C0C0C0; 
}
*/
.second-block:hover {
	transform: rotateX(0deg) translate(0,25%);
	box-shadow: 0px 4px 12px 4px #C0C0C0; 
}

.second-block:hover .text {
	opacity: 1;
}

.text {
	font-size: 30px;
	margin: 40% auto;
	color: white;
	text-align: center;
	opacity: 0;
	transition: opacity 0.4s linear;
}