* {
	margin: 0;
	padding: 0; 
}

body {
	background-image: url("../images/background.jpg");
	background-position: center;
	background-size: cover;	
	height: 100vh;
}

header {
	font-family: 'Noto Sans HK', sans-serif;
	margin: auto 0;
	text-align: center;
	font-size: 50px;
	color: black;
	opacity: 0.5;
}

.main-block {
	width: 90vw;
	height: 400px;
	perspective: 600px;
	margin: 0 auto 0;
	transform-style: flat;
	text-align: center;
	display: flex;
}

.card-block {
	opacity: 1.0;
	height: 270px;
	width: 270px;
	margin: 80px auto 0;
	border-radius: 8px;
	transform-style: flat;
	transform: rotateX(60deg) translate(0,-25%);
	transition: transform 0.8s ease-out, height 1.5s linear, width 1.5s linear, box-shadow 0.7s ease-out, filter 0.8s ease-out, opacity 1.0s linear;	
}

.card-block.first {
	background-image: url("../images/Resume.png");
	background-size: cover;
	box-shadow: 8px 14px 12px 5px gray;
	background-position: center;
}

.card-block.second {
	background-image: url("../images/hobby.jpg");
	background-size: cover;
	box-shadow: 2px 14px 12px 5px gray;
	background-position: center;
}

.card-block.third {
	background-image: url("../images/Biography.jpg");
	box-shadow: -2px 14px 12px 5px gray;
	background-size: cover;
	background-position: center;
}

.card-block.fourth {
	background-image: url("../images/tasks.jpg");
	box-shadow: -8px 14px 12px 5px gray;
	background-size: cover;
	background-position: center;
}

.card-block:hover {
	transform: rotateX(0deg) translate(0,25%);
	box-shadow: 0px 4px 12px 4px gray; 
}

.card-block:hover .text {
	opacity: 1;
}

.text {
	pointer-events: none;
	font-size: 30px;
	margin: 40% auto;
	color: white;
	text-align: center;
	opacity: 0;
	transition: opacity 0.4s linear;
}

.card-block.active {
	transform: scale(2,2) translate(-50%, -50%);
	background-image: none;
	background-color: white;
	position: absolute;
  	left: 50%;
  	top: 50%;
	/*transform-style: flat;
	transform: rotateX(0deg) translate(0,0);	
	top: 0;
	left: 0;
	height: 90vh;
	width: 90vw;*/
}

.card-block.active > .text {
	color: gray;
}


