html {
  	overflow-y: scroll;
  	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
	font-size: 16px;
}

::-webkit-scrollbar { width: 15px; height: 3px;}
::-webkit-scrollbar-button {  display: none;  }
::-webkit-scrollbar-track {  background-color: #F5F5F5;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 10px; background-color: #4D606E;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

body {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

img {
	display: block;
	max-width: 100%;
}

.list-task {	
	box-shadow: 0px 0px 10px 1px gray;
	width: 40%;
	margin: 50px auto 0;
	text-align: center;
	background-color: #F5F5F5;
}

.item {

	display: flex;
	justify-content: space-between;
	opacity: 0;
	transform: translateX(150px);
	margin: 0 auto;
	color: #F9F9F9;
	background-color: #3FBAC2;	
	width: 100%;
	transition: transform 0.7s ease-out, background-color 0.2s linear, color 0.2s linear, opacity 0.6s ease-in;
}

.item p {
	margin-left: 10%;
}

.item i {
	display: flex;
	margin: 20px 10% 0 0;
}

.item i:before, .item i:after {
	position: absolute;
  	content: '';
  	width: 16px;
  	height: 3px;
  	background-color: white;
  	transition: transform 250ms ease;
}

.item i:before {
	transform: translate(-5px,8px) rotate(45deg);
}

.item i:after {
	transform: translate(5px,8px) rotate(-45deg);
}

.item.active i:before {
	transform: translate(5px,8px) rotate(45deg);
}

.item.active i:after {
	transform: translate(-5px,8px) rotate(-45deg);
}      

.item:hover {
	background-color: #5f7585ec;
	cursor: pointer;
}

.item.active {
	color: #F9F9F9;
	background-color: #4D606E;
}

.task {
	margin: 0 auto;
	width: 100%;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.2s linear, opacity 0.3s linear;
}

.task.active {
	overflow: visible;
	opacity: 1;
}

.task-item {
	width: 60%;
	margin: 0 auto;
	padding: 15px;
}

.task-item.second {
	box-shadow: 0 0 10px 2px gray;
}

.task-item.second table {
	margin: 0 auto;
	position: relative;
}

.task-item.second table:before {
	position: absolute;
	margin: 0 auto;
	display: block;
	content: "";
	height: 2px;
	width: 142px;
	background-color: #3FBAC2;
}

.weekend {
	color: #E67A7A;
}

#today {
	background-color: #d96464;
	color: white;
}

.full-date {
	height: 40px;
	width: 140px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.task-item.fourth {
	display: flex;
	justify-content: space-between;
}

.container {
	height: 50px;
	width: 50px;
}

.block {
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: transform 0.3s linear, opacity 0.3s linear;
}

.block.first-block {
	background-color: green;
}

.block.second-block {
	background-color: yellow;
}

.block.third-block {
	background-color: red;
}

.block.active {
	transform: scale(0.5);
	opacity: 0;
}

.table-task-sixth {
	margin: 0 auto;
}

.table-task-sixth td {
	height: 50px;
	width: 50px;
	background-color: black;
}

img {
	display: block;
	max-width: 100%;
}

.sweety-title {
	width: 15%;
	margin: 0 auto;
	cursor: pointer;
}

.sweety-title:hover {
	color: blue;
}

.sweety-title.active {
	color: blue;
}

.sweety-title.active:after {
	display: block;
	content: "";
	height: 1px;
	width: 40px;
	margin: 0 auto;
	background-color: blue;
}

.sweety-title.active:hover {
	color: black;
}

.sweety-title.active:hover:after {
	background-color: black;
}

.sweety-menu {
	display: block;
	margin: 10px 0 0 0;
	padding: 0;
	max-height: 0;
	list-style: none;
	overflow: hidden;
	transition: max-height 0.2s linear;
}

.sweety-menu.active {
	overflow: visible;
}

.sweety-menu li {
	transition: opacity 0.2s linear;
}

.sweety-menu li:hover {
	cursor: pointer;
	color: blue;
}

.task-item.eighth {
	height: 100px;
	width: 100px;
}

.task-item.eighth img {
	opacity: 0;
	transition: opacity 0.4s linear;
}

.task-item.ninth img {
	height: 200px;
	position: absolute;
	z-index: 1;
	transition: opacity 0.8s linear;
}

.task-item.ninth {
	position: relative;
	height: 300px;
	width: 300px;
}

.task-item.ninth p {
	position: absolute;
	z-index: 0;
}

.task.active.tenth {
	padding: 10px;
}

form {
	margin: 20px auto;
	width: 70%;
	box-shadow: 0px 0px 10px 2px gray;
	padding: 20px 20px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	padding: 0 10px;
	margin: 10px 0;
	background-color: #F5F5F5;
	border: none;
	border-bottom: 2px solid #4D606E;
	width: 200px;
	outline: none;
	transition: border-bottom-color .2s linear;
}

input.wrong-data {
	border-bottom-color: #d96464;
}

input:focus {
	border-bottom-color: #3FBAC2;
}

input::placeholder {
	color: #9c9797;
}

form div {
	color: #393E46;
	width: 100%;
	justify-content: space-between;
	display: flex;
}

form div p {
	width: 140px;
	text-align: right;
}

.title-registration {
	text-align: center;
	display: block;
	width: 100%;
	margin: 0 auto;
}

.title-registration:after {
	content: '';
	margin: 10px 0 20px;
	display: block;
	height: 2px;
	background-color: #4D606E;
}

.menu-registration input {
	color: #4D606E;
}

.title-registration {
	color: #4D606E;
}

.menu-registration p {
	color: #4D606E;
}

.password-div {
	position: relative;
}

.fa {
	position: absolute;
	right: 0;
	color: #4D606E;
	top: 25%;
}