* {
	margin: 0;
	padding: 0; 
}

body {
	background-image: url("https://img2.goodfon.ru/original/2880x1800/0/b7/volny-chernyy-belyy-nastroenie.jpg");
	background-position: center;
	background-size: cover;	
}

.block {
	width: 1200px;
	height: 400px;
	perspective: 600px;
	margin: 150px auto;
	transform-style: flat;
	text-align: center;
	display: flex;
}

.second-block {
	height: 300px;
	width: 300px;
	margin: 0% auto 0;
	border-radius: 8px;
	/*filter: blur(2px);*/
	transform-style: flat;
	transform: rotateX(60deg) translate(0,-25%);
	transition: transform 0.8s ease-out, height 0.4s ease-out, box-shadow 0.7s ease-out, filter 0.8s ease-out;
}

.second-block.first {
	background-image: url("https://cdn.pixabay.com/photo/2016/03/27/07/12/apple-1282240_1280.jpg");
	background-size: cover;
	box-shadow: 8px 8px 12px 5px gray;
	background-position: center;
}

.second-block.second {
	background-image: url("https://sun9-11.userapi.com/impg/EncYRMHQF4Pi0t8OM6kNUpOTaLETl0JEdmqAqQ/tnHK1L_Fqg0.jpg?size=2560x1440&quality=96&sign=12fb54aee4bf3e980bcb1a5210136db4&type=album");
	background-size: cover;
	box-shadow: 0px 12px 12px 5px gray;
	background-position: center;
}

.second-block.third {
	background-image: url("https://cdn.pixabay.com/photo/2017/07/02/21/34/shoes-2465907_1280.jpg");
	box-shadow: -8px 12px 12px 5px gray;
	background-size: cover;
	background-position: center;
}

/*.second-block.first:hover {
	transform: rotateX(0deg) translate(0,25%);
	box-shadow: 0px 4px 12px 4px gray; 
}

.second-block.second:hover {
	transform: rotateX(0deg) translate(0,25%);
	box-shadow: 0px 4px 12px 4px gray; 
}
*/
.second-block:hover {
	transform: rotateX(0deg) translate(0,25%);
	box-shadow: 0px 4px 12px 4px gray; 
}

.second-block:hover .text {
	opacity: 1;
}

.second-block.first:hover #second{
	filter: grayscale(100%);
}

.second-block.first:hover #third{
	filter: grayscale(100%);
}

.second-block.second:hover ~ #first{
	filter: grayscale(100%);
}

.second-block.second:hover ~ #third{
	filter: grayscale(100%);
}

.text {
	font-size: 30px;
	margin: 40% auto;
	color: white;
	text-align: center;
	opacity: 0;
	transition: opacity 0.4s linear;
}